@import "tailwindcss";

:root{
    font-family: Space Grotesk ;
    font-weight: 500;
    font-size: 18px;
}
@theme {

    --color-primary-100:hsl(249, 99%, 64%);
    --color-primary-900: hsl(278, 94%, 30%);
    --color-error: hsl(0, 100%, 66%);
    --color-neutral-white: hsl(300%,100%, 99%, 100%);
    --color-neutral-light-grayish-voilet: hsl(270, 3%, 87%);
    --color-neutral-dark-grayish-voilet: hsl(279, 6%, 55%);
    --color-neutral-very-dark-grayish-voilet: hsl(278, 68%, 11%);
    --default-font-family: Space Grotesk;
    --default-font-size: 18px;
    --default-font-weight: 500;
    --default-line-height: 1.5;
    --default-letter-spacing: 0.1em;
    --color-neutral-white: hsl(300%,100%, 99%);
    --color-whitish: hsl(300,100,99)
}


#bg-main-mobile {
    background-image: url(../../public/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#card-front{
    background-image: url(../../public/images//bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#card-back{
    background-image: url(../../public/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-logo{
    background-image: url(../../public/images/card-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}